@import url(https://fonts.googleapis.com/css?family=Changa+One);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);


body {
  	/*padding-top:182px;*/
  	text-align: center;
  	height:100%;
  	width: 100%; 
    background-color: #FDFDFD; 	
}
html{
	height:100%; 
}
h1{
    font-size: 5em;
    font-family: 'Chewy', cursive;
    color:#FDFDFD;
    text-shadow: 1px 0px 0px #686868, 1px 1px 0px #686868, 0px 1px 0px #686868, 
    -1px 1px 0px #686868, -1px 0px 0px #686868, -1px -1px 0px #686868, 
    0px -1px 0px #686868, 1px -1px 0px #686868, 1px 4px 5px #aeaeae;
}
.img-responsive{
    max-height: 350px;
    max-width: auto;

}

.lead{

	font-family: 'Chewy', cursive;
	font-size: 3em;
	color:white;
	text-shadow: 1px 0px 0px #686868, 1px 1px 0px #686868, 0px 1px 0px #686868, 
    -1px 1px 0px #686868, -1px 0px 0px #686868, -1px -1px 0px #686868, 
    0px -1px 0px #686868, 1px -1px 0px #686868, 1px 4px 5px #aeaeae;
}
.one {
    background: url(../img/ice/iceCream.jpg); 
    background-size: cover;
    padding-top: 15%;
    background-position: 0 0;
    min-height: 100%;
    min-width: 100%;

}

.two{
    padding-top: 15%;
	min-height: 100% ;
	background-color: #C6FDC6;
	background-position: 0 0;    
    background: cover;
        /* fade it */
        /*
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );  
        */
}
.three{
    background: url(../img/bg_border_green.png);
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 10%;
    min-height: 100% ;
    background: ;
    background-position: 0 0;    
     
}

.four{
    /*background:
        url(../img/black_board.png),
        url(../img/bg_border_white.png);
    background-repeat: no-repeat;
    background-position: top;
    background: cover;*/
    min-height: 100%;
    min-width: 100%;
    padding-top: 5%;
    background-color: pink;
    color:#FDFDFD;
    

}

#menu{
    position:relative; 
    width:100%; 
    height:995px; 
    margin-top: -60px; 

    /*overflow: hidden;*/
}
#menu .background{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:915px;
    background:url(../img/black_board2.png), url(../img/bg_border_white.png);
    background-repeat: no-repeat;
    background-position: top;
    margin-top:-35px;
    /*background:url(../img/black_board.png) no-repeat center center; z-index:11;}*/
    
}

#menu .board_container{
    margin-top: 220px;
    width:500px;
    display: block; 
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    

  
}
#menu .board{
    
    font-family: 'Rock Salt', cursive;
    color: #FDFDFD;
    position:relative;
    bottom: 150px; 
    left:0;
    width:100%; 
    height:870px; 
}
#menu hr{
    margin-top: 50px;
    border: 0; 
    

}
#menu li{

    font-size: 2em;
    list-style-type: none;
    padding-top:5px;

}

.five{
    
    
    background-color: #F9FD8D; 
    padding-top: 10%;
    min-height: 100% ;
    background: ;
    background-position: 0 0; 

 }

#menu .category{padding-left:100px; float: left;}
 

.border1{
    
    background: url(../img/bg_border_green.png) no-repeat center top;
}
.border2{
    
    background: url(../img/bg_border_white.png) no-repeat center top;

}


/*
.one h1{
	padding-top: 10%;
	font-size: 5em;
	font-family: 'Chewy', cursive;
	color:white;
	text-shadow: 1px 0px 0px #686868, 1px 1px 0px #686868, 0px 1px 0px #686868, 
    -1px 1px 0px #686868, -1px 0px 0px #686868, -1px -1px 0px #686868, 
    0px -1px 0px #686868, 1px -1px 0px #686868, 1px 4px 5px #aeaeae;
}
*/
/*
.two{	
    padding-top:5%;
    background-size:cover;
	background-position: 0 0;
	min-height: 50%;
	min-width: 100%;
    background: url(../img/ice/icecream2.jpg);

}
*/
.trans img{
    width:150px;
    height:291px;
}
video#bgvid {
   position: fixed; ;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/background/ice/iceCream.jpg) no-repeat;
    background-size: cover; 
}

.larger{
    font-size: larger;
}

/* NAVIGATION TOP BAR */

nav{
    font-family: 'Chewy', cursive;
    background: url(../img/bg_menu.png) no-repeat center top;
    height:182px;
    position:fixed;
    width:100%;
    z-index: 100;


}

.navbar-default {
    /*border-color: rgba(34,34,34,.05);*/
    background-color: transparent; 

    -webkit-transition: all .55s;
    -moz-transition: all .55s;
    transition: all .55s;
   border-bottom: 0px solid black;
   
}

.navbar-default .navbar-brand {
    color: #000;

}

.navbar-default .navbar-header  {
    font-family: 'Chewy', cursive;
    text-transform: uppercase;
    /*font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;*/
    float: left;
    /*color: #f05f40; 
    color: #000;*/

}

.navbar-brand{
	font-weight: 700;
	color: #000;
    font-family: 'Handlee', "Lucida Console", cursive;
	
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #f05f40;

}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    
    text-transform:uppercase ;
    font-size: 18px;
    /*font-weight: 700;*/
    color: #000;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;

}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40;
    background-color: transparent;
    
    
}      


/* MOBILE MENU */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ccc;
}
.navbar-default.affix a:visited{
        

    }

/* AFFIX STYLING */

.navbar-default.affix {
        /*border-color: rgba(34,34,34,.05);*/
        background-color: transparent;
        /*box-shadow: 4px 4px 2px #222;*/
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        /*font-size: 14px;*/
        color: #000;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;

     /*   font-size: 13px; */
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;


    }
    .navbar-default.affix .nav > li.active>a,
    .navbar-default.affix .nav>li.active>a:focus {
        color: #f05f40;
        background-color: transparent;
        
    }    
    .navbar-default.affix a:visited{
        

    }